body {
    background-color: #d1c4e9; 
    font-family: 
    margin: 0; 
}

center {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
main {
    background-color: #d1c4e9; 
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden; 
}

h2 {
    color: #673ab7; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #673ab7; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #311b92; 
}

section,
aside {
    float: left;
    width: 50%; 
    background-color: #d1c4e9; 
    padding: 10px;
    box-sizing: border-box;
}

#infoPoster {
    max-width: 100%; 
    display: block; 
    margin: auto; 
    margin-top: 20px; 
}
