body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ebf4; /* Morado claro para el fondo */
    color: #333; /* Color de texto oscuro */
}

center {
    text-align: center;
    margin-top: 50px; /* Espacio en la parte superior */
}

h2 {
    color: #7a5d8f; /* Morado para el título principal */
    font-family: 'Cursive', sans-serif; /* Fuente cursiva */
}

h4 {
    color: #4f3b5f; /* Morado más oscuro para el subtítulo */
    font-family: 'Verdana', sans-serif; /* Fuente Verdana */
}

a {
    display: block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #fff; /* Texto blanco */
    background-color: #7a5d8f; /* Morado para el fondo de los enlaces */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
    font-family: 'Arial', sans-serif; /* Fuente Arial */
}

a:hover {
    background-color: #634b72; /* Morado más oscuro al pasar el ratón */
}
